* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #0056b3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: white;
    padding: 19px;
    font-size: 17px;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #1476df;
    font-size: 19px;
}

nav a:hover {
    text-decoration: underline;
}

.center {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 9px;
    width: 90%;
    max-width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #b1a8a8;
    border-radius: 6px;
    font-size: 16px;
}

button {
    width: 100%;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    background: #007BFF;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
    cursor: pointer;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 14px;
}